node_modules/
.env
.env.local
.env.production
dist/
*.log
.vscode/

logs/
npm-debug.log
yarn-error.log
package-lock.json
coverage/
.idea/
run/
suspect/
.DS_Store
*.sw*
*.un~
learn
tokens.json

# 忽略 public 下的上传文件，但保留目录本身
public/uploads/*
!public/uploads/.gitkeep